src/xml/collegiate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2013 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="alpha">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="entry"/>
				<xs:element ref="comment"/>
			</xs:choice>
			<xs:attribute name="letter" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="tt" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ahw">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="comment">
		<xs:complexType mixed="true">
			<xs:complexContent>
				<xs:restriction base="xs:anyType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="aq">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="aqdate"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="art">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="artref"/>
				<xs:element ref="capt"/>
				<xs:element ref="dim"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="artref">
		<xs:complexType>
			<xs:attribute name="id" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ca">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="cat"/>
				<xs:element ref="pr"/>
				<xs:element ref="pr_alt"/>
				<xs:element ref="pr_ipa"/>
				<xs:element ref="pr_wod"/>
				<xs:element ref="sound"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="capt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="inf"/>
				<xs:element ref="sup"/>
				<xs:element ref="sc"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cat">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="inf"/>
				<xs:element ref="sup"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="cl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ct">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="ctn"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ctn">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cx">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="cl"/>
				<xs:element ref="ct" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="date">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="aqdate">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="def">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="vt" minOccurs="0"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="sl" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sense"/>
				<xs:element ref="ss" minOccurs="0"/>
				<xs:element ref="us" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sense">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sn" minOccurs="0"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="sp"/>
					<xs:element ref="sp_alt" minOccurs="0"/>
					<xs:element ref="sp_ipa" minOccurs="0"/>
					<xs:element ref="sp_wod" minOccurs="0"/>
					<xs:element ref="sound" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="svr" minOccurs="0"/>
				<xs:element ref="sin" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="slb" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="set" minOccurs="0"/>
				<xs:element ref="ssl" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dt" minOccurs="0" maxOccurs="unbounded"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="sd"/>
					<xs:element ref="sin" minOccurs="0"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="sp"/>
						<xs:element ref="sp_alt" minOccurs="0"/>
						<xs:element ref="sp_ipa" minOccurs="0"/>
						<xs:element ref="sp_wod" minOccurs="0"/>
						<xs:element ref="sound" minOccurs="0"/>
					</xs:sequence>
					<xs:element ref="slb" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ssl" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="dt" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="snumb" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dim">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="drp"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="pr"/>
					<xs:element ref="pr_alt" minOccurs="0"/>
					<xs:element ref="pr_ipa" minOccurs="0"/>
					<xs:element ref="pr_wod" minOccurs="0"/>
					<xs:element ref="sound" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="vr" minOccurs="0"/>
				<xs:element ref="et" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="def"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="drp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="dx"/>
				<xs:element ref="sx"/>
				<xs:element ref="ca"/>
				<xs:element ref="vi"/>
				<xs:element ref="inf"/>
				<xs:element ref="un"/>
				<xs:element ref="sc"/>
				<xs:element ref="sup"/>
				<xs:element ref="math"/>
				<xs:element ref="d_link"/>
				<xs:element ref="i_link"/>
				<xs:element ref="dx_def"/>
			</xs:choice>
			<xs:attribute name="mode" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dx_def">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="dxt"/>
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dx_ety">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="dxt"/>
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dx">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="dxt"/>
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="dxn">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="dxt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="dxn"/>
				<xs:element ref="inf"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="entry">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:sequence>
						<xs:element ref="subj" minOccurs="0"/>
						<xs:element ref="art" minOccurs="0"/>
						<xs:element ref="formula" minOccurs="0"/>
						<xs:element ref="table" minOccurs="0"/>
					</xs:sequence>
					<xs:element ref="hw"/>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="pr" minOccurs="0"/>
						<xs:element ref="pr_alt" minOccurs="0"/>
						<xs:element ref="pr_ipa" minOccurs="0"/>
						<xs:element ref="pr_wod" minOccurs="0"/>
						<xs:element ref="sound" minOccurs="0"/>
					</xs:sequence>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="ahw"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="pr"/>
							<xs:element ref="pr_alt" minOccurs="0"/>
							<xs:element ref="pr_ipa" minOccurs="0"/>
							<xs:element ref="pr_wod" minOccurs="0"/>
							<xs:element ref="sound" minOccurs="0"/>
						</xs:sequence>
					</xs:sequence>
					<xs:element ref="vr" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="fl" minOccurs="0"/>
					<xs:element ref="in" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="lb" minOccurs="0" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:sequence>
							<xs:element ref="cx"/>
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element ref="ss"/>
								<xs:element ref="us"/>
							</xs:choice>
						</xs:sequence>
						<xs:element ref="et"/>
					</xs:choice>
					<xs:element ref="sl" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="dx"/>
					<xs:element ref="def"/>
				</xs:choice>
				<xs:choice>
					<xs:element ref="list" minOccurs="0"/>
					<xs:sequence>
						<xs:element ref="uro" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="dro" minOccurs="0" maxOccurs="unbounded"/>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:sequence>
								<xs:element ref="pl"/>
								<xs:element ref="pt"/>
								<xs:element ref="sa" minOccurs="0"/>
							</xs:sequence>
							<xs:choice>
								<xs:element ref="note"/>
							</xs:choice>
							<xs:element ref="quote" maxOccurs="unbounded"/>
						</xs:choice>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="printing" type="xs:anySimpleType"/>
			<xs:attribute name="rating" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="et">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="ma"/>
				<xs:element ref="inf"/>
				<xs:element ref="sup"/>
				<xs:element ref="sc"/>
				<xs:element ref="dx_ety"/>
				<xs:element ref="i_link"/>
			</xs:choice>
			<xs:attribute name="mode" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="formula">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dim"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="d_link">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="sup"/>
				<xs:element ref="inf"/>
			</xs:choice>
			<xs:attribute name="ref" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="i_link">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="sup"/>
				<xs:element ref="inf"/>
			</xs:choice>
			<xs:attribute name="ref" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dim"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="hw">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="inf"/>
				<xs:element ref="sup"/>
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="if">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="inf"/>
				<xs:element ref="sup"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="il">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="in">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="il" minOccurs="0"/>
				<xs:element ref="if"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="pr"/>
					<xs:element ref="pr_alt" minOccurs="0"/>
					<xs:element ref="pr_ipa" minOccurs="0"/>
					<xs:element ref="pr_wod" minOccurs="0"/>
					<xs:element ref="sound" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="inf">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="rom"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="it">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="sup"/>
				<xs:element ref="inf"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="qword">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="sup"/>
				<xs:element ref="inf"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="lb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ma">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="math">
		<xs:complexType/>
	</xs:element>
	<xs:element name="pl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="note">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="rom">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="pr">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="sc"/>
				<xs:element ref="sup"/>
			</xs:choice>
			<xs:attribute name="mode" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pr_alt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="pr_ipa">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="pr_wod">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="pt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="sc"/>
				<xs:element ref="vi"/>
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="sa">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="sc">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="sd">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="set">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="ma"/>
				<xs:element ref="sc"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="sin">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="il" minOccurs="0"/>
				<xs:element ref="if" minOccurs="0"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="pr"/>
					<xs:element ref="pr_alt" minOccurs="0"/>
					<xs:element ref="pr_ipa" minOccurs="0"/>
					<xs:element ref="pr_wod" minOccurs="0"/>
					<xs:element ref="sound" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="spl" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="slb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="sn">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="snp"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="snp">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="sound">
		<xs:complexType>
			<xs:attribute name="stat" type="xs:anySimpleType"/>
			<xs:attribute name="wav" type="xs:anySimpleType"/>
			<xs:attribute name="ref" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="sc"/>
				<xs:element ref="it"/>
			</xs:choice>
			<xs:attribute name="mode" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp_alt">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp_ipa">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="sp_wod">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="spl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ss">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ssl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="subj">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="sup">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="rom"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="svr">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="vl"/>
				<xs:element ref="va"/>
				<xs:element ref="pr"/>
				<xs:element ref="pr_alt"/>
				<xs:element ref="pr_ipa"/>
				<xs:element ref="pr_wod"/>
				<xs:element ref="sound"/>
				<xs:element ref="vpl" minOccurs="0"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="sx">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="sxn"/>
				<xs:element ref="inf"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="sxn">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="un">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="vi"/>
				<xs:element ref="it"/>
				<xs:element ref="sc"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="ure">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="uro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ure"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="pr"/>
					<xs:element ref="pr_alt" minOccurs="0"/>
					<xs:element ref="pr_ipa" minOccurs="0"/>
					<xs:element ref="pr_wod" minOccurs="0"/>
					<xs:element ref="sound" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="vr" minOccurs="0"/>
				<xs:element ref="fl" minOccurs="0"/>
				<xs:element ref="lb" minOccurs="0"/>
				<xs:element ref="sl" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="us">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="va">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="inf"/>
				<xs:element ref="it"/>
				<xs:element ref="sup"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="quote">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="aq"/>
				<xs:element ref="inf"/>
				<xs:element ref="sup"/>
				<xs:element ref="sc"/>
				<xs:element ref="qword"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="vi">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="it"/>
				<xs:element ref="aq"/>
				<xs:element ref="inf"/>
				<xs:element ref="sup"/>
				<xs:element ref="sc"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="vl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vpl">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="vr">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="vl"/>
				<xs:element ref="va"/>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="pr"/>
					<xs:element ref="pr_alt" minOccurs="0"/>
					<xs:element ref="pr_ipa" minOccurs="0"/>
					<xs:element ref="pr_wod" minOccurs="0"/>
					<xs:element ref="sound" minOccurs="0"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vt">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
